.detail-image {
  width: 100%;
  max-height: 420px;
  object-fit: cover;
}

btn.btn-servings {
  width: 15px;
  height: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}